
{% extends 'base2.html.twig' %}
{% block Panier %}

<h2>Indiquez votre adresse et votre ville</h2>
    <br><br>
<form method="POST">

        <tr>
            <td>Adresse:</td>
            <td><input type="text" class="form-control input-default " name="adresse"></td><br/><br/>
        </tr>
        <tr>
            <td>Ville:</td>
            <td><input type="text" class="form-control input-default " name="ville"></td><br/><br/>
        </tr>

        <tr>

            <td><center><input type="submit" class="btn btn-default" value="Suivant"></center></td><br/><br/>
        </tr>


</form>

{% endblock %}