
{% extends 'base2.html.twig' %}
{% block Panier %}

<h2>Indiquez votre adresse et votre ville</h2>
    <br><br>

    {{ form_start(form2) }}
    {{ form_widget(form2) }}
    {{ form_end(form2) }}

{% endblock %}