
{% extends 'baseBack.html.twig' %}
{% block main %}

<h2>Ajouter un livreur</h2>
    <br><br>
<form method="POST" onsubmit="return veriflivreur(this)" >

        <tr>
            <td>Nom et prénom:</td>
            <td><input type="text" class="form-control input-default " name="nomLivreur" onkeypress="verifNom(this)"></td><br/><br/>
        </tr>
        <tr>
            <td>Mail:</td>
            <td><input type="text" class="form-control input-default " name="mailLivreur" onkeypress="verifMail(this)"></td><br/><br/>
        </tr>
        <tr>
            <td>Téléphone:</td>
            <td><input type="number" class="form-control input-default " name="telLivreur" onkeypress="verifTel(this)"></td>
        </tr><br/><br/>
        <tr>
            <td>Disponibilité:</td>
            <td><select name="disponibilite" class="form-control input-default ">
                    <option  value="Disponible">Disponible</option>
                    <option selected="selected" value="Non disponible">Non disponible</option>
                </select></td><br/><br/>
        </tr>

        <tr>

            <td><center><input type="submit" class="btn btn-default" value="Ajouter" ></center></td><br/><br/>
        </tr>


</form>

{% endblock %}