
{% extends 'baseBack.html.twig' %}
{% block main %}
    <a href="http://localhost/Shopetal/web/app_dev.php/Back/afficherProduit" class="btn btn-primary" >retour</a><br><br>
<h2>Ajouter un Produit</h2>

    <br><br>
<form method="POST">

        <tr>
            <td>Nom :</td>
            <td><input type="text" class="form-control input-default " name="nom"></td><br/><br/>
        </tr>
        <tr>
            <td>Prix:</td>
            <td><input type="number" class="form-control input-default " name="prix"></td><br/><br/>
        </tr>
        <tr>
            <td>Quantite:</td>
            <td><input type="number" class="form-control input-default " name="quantite"></td>
        </tr><br/><br/>
    <tr>
        <td>image :</td>
        <td><input type="text" class="form-control input-default " name="image"></td><br/><br/>
    </tr>
        <tr>
            <td>Categorie:</td>
            <td><select name="categorie" class="form-control input-default ">
                    <option  value="Fleurs">Fleurs</option>
                    <option selected="selected" value="Plantes">Plantes</option>
                </select></td><br/><br/>
        </tr>

    <tr>
        <td>Types:</td>
        <td><select name="type" class="form-control input-default ">
                <option  value="Fleurs rouges">Fleurs rouges</option>
                <option selected="selected" value="Plantes arbuste">Plantes arbustes</option>
            </select></td><br/><br/>
    </tr>






    <tr>

            <td><center><input type="submit" class="btn btn-default" value="Ajouter"></center></td><br/><br/>
        </tr>


</form>

{% endblock %}