
{% extends 'baseBack.html.twig' %}
{% block main %}

    <a href="http://localhost/essai/web/app_dev.php/Back/afficherProduit" class="btn btn-primary" >retour</a><br><br>
    <h3>Modifier Produits</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}